    

header{
    text-align: center;
    background: url("Assets/8.jpg");
    background-size: cover;
    color: white;
    padding: 210px 0px 0px 0px
}
ul {
    padding: 10px;
    background: rgba(0,0,0,0.4);
}
li{
    display:inline;
    padding: 0px 10px 0px 10px;
}
a{
    color: white;
}
h1{
    font-size: 70px;
}
img{   
    border: 10px solid white;
}
article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
@media (max-width: 500px){
    body{
        background: red;
    }
    li{
        display: block;
        padding: 5px;
    }
    h1{
        
        
    }
}